<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.akshit.App" />
    <module name="new-waves" />
    <option name="PROGRAM_PARAMETERS" value="server config/local.yml" />
    <method v="2">
      <option name="Make" enabled="true" />
      <option name="RunConfigurationTask" enabled="true" run_configuration_name="Generate local.yml" run_configuration_type="ShConfigurationType" />
    </method>
  </configuration>
</component>